<!DOCTYPE html>
<html lang="en">

<head>
    <title>MailMerge Datasource viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.min.css" type="text/css">
    <script src="static/dropzone.min.js"></script>
    <link rel="stylesheet" href="static/dropzone.min.css" type="text/css" />
</head>


<body>
<div id="content" class="container">
    <h2>Retrieve the filters and orderings used in a word mailmerge</h2>

    <form action="upload" class="dropzone" id="mydropzone">
		<div class="dz-message" data-dz-message><span>Select or Drop docx or dotx (unmerged) mailmerge files</span></div>
    </form>

    <script>
  Dropzone.options.mydropzone = {
    acceptedFiles: ".doc,.docx,.dotx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document",
    addRemoveLinks: true,
    init: function() {
        this.on("success", (file, responseText) => {
            file.previewTemplate.appendChild(document.createTextNode(responseText));
        });
    },
  };
    </script>
</div>
</body>
